# generated demo output
build/

# python
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
dist/
.venv/
python/site/

# R
.Rhistory
.RData
*.Rproj.user

# R package build artifacts
r/pilotr/vignettes/*.knit.md
r/pilotr/vignettes/*.html
r/pilotr/vignettes/*_files/
r/pilotr/doc/
r/pilotr/Meta/
r/pilotr/docs/

